.container {
  height: fit-content; /* Mantenido para ocupar toda la altura de la ventana */
  max-height: 100%;
  color: white;
}
.card-image {
  width: 100%;
  height: auto;
  max-width: 280px;
  min-width: 100px;
  aspect-ratio: 4/4;
  object-fit: cover;
  color: #000000;
}
.full-card {
  width: 90%;
  max-height: auto;
  min-width: 90%;
  max-width: 90%;
  background-color: #d3cee1 !important;
  align-items: center;
}
.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.overflow-ellipsis {
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 100%;
  min-height: 50px;
  max-height: 100px;
  width: 80%;
  aspect-ratio: 4/4;
  white-space: normal;
  word-wrap: break-word;
  -webkit-line-clamp: 4; /* Número de líneas antes de mostrar puntos suspensivos */
  text-overflow: ellipsis;
}
