#nav-dropdown {
  color: white;
  font-weight: bold;
}
.navbarScroll {
  color: white !important;
}
.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}